@import url("https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400;500;600;700;800;900&family=Kumbh+Sans:wght@300;400;500;600;700;800;900&display=swap");

.base-template__wrapper {
	max-width: 1560px;
}

.base-template__text {
	margin-bottom: 60px;
}

/* Slider Instance */
.swiper {
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.emotions-slider {
	--color-gray: #000;
	--color-gray-dark: #111013;

	padding-inline: 0px;
	position: relative;
}

.emotions-slider__slide {
	display: flex;
    flex-direction: column;
    align-items: center;
	border: 1px solid #535353;
	padding: 1rem;
	border-radius: 10px;
}

@media screen and (max-width: 767.9px) {
	.emotions-slider {
		padding: 0;
		margin-inline: -20px;
	}
}

/* Slider Navigation */
.slider-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	position: absolute;
	top: 50%;
	left: 0;
	translate: 0 -50%;
	z-index: 1;
	pointer-events: none;
}

.slider-nav__item {
	display: flex;
	align-items: center;
	justify-content: center;
	aspect-ratio: 1;
	width: 48px;
	pointer-events: auto;
	cursor: pointer;
}

.slider-nav__item.disabled {
	cursor: default;
	opacity: 0.5;
}

@media screen and (max-width: 767.9px) {
	.slider-nav {
		display: none;
	}
}

/* Slider Pagination */
.slider-pagination {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: 8px;
	padding-top: 40px;
}

.swiper-pagination-lock {
	display: none !important;
}

.slider-pagination__item {
	width: 8px;
	height: 8px;
	border-radius: 99px;
	background: #fff;
	opacity: 0.2;
}

.slider-pagination__item.active {
	width: 30px;
	opacity: 1;
}

/* Slider Item */
.swiper-slide {
	width: auto;
	height: auto;
}

.emotions-slider-item {
	--border-radius: 10px;
	width: calc(100dvw - 60px);
	max-width: 400px;
	background: transparent;
	border-radius: var(--border-radius);
	position: relative;
	overflow: hidden;
}

.emotions-slider-item__badge {
	display: flex;
	align-items: center;
	gap: 4px;
	padding: 4px 10px 4px 5px;
	background: #000;
	border-bottom-right-radius: var(--border-radius);
	font-size: 14px;
	line-height: calc(24 / 14);
	position: absolute;
	top: 0;
	z-index: 1;
}

.emotions-slider-item__image {
	aspect-ratio: 400 / 270;
	overflow: visible;
    /* margin-top: auto; */
}

.emotions-slider-item__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: right;
    margin: auto;
}

.emotions-slider-item__content {
	display: flex;
	flex-direction: column;
	gap: 50px;
	padding: 30px 20px;
}

.emotions-slider-item__header,
.emotions-slider-item__footer {
	max-height: 50px;
	overflow: visible; /* Ensure everything is visible */
}

.emotions-slider-item__header-inner {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 20px;
}

.emotions-slider-item__price {
	font-family: 'jost';
    position: absolute;
    top: 0;
	font-weight: 900;
	font-size: 80px;
	line-height: calc(24 / 22);
    color: transparent;
    -webkit-text-stroke: 1px rgb(161, 161, 160);
}

.emotions-slider-item__title {
	font-weight: 600;
	font-size: 28px;
	line-height: 1.2;
	margin-block: 8px;
}

.emotions-slider-item__text {
	font-weight: 300;
	font-size: 16px;
	line-height: 1.5;
	opacity: 0.7;
}

.emotions-slider-item__btn {
	display: flex;
	align-items: center;
	gap: 4px;
	font-weight: 500;
	font-size: 18px;
	color: #000;
	text-decoration: none;
}

.emotions-slider-item__btn-icon {
	flex-shrink: 0;
	display: block;
	aspect-ratio: 1;
	width: 24px;
	position: relative;
	overflow: hidden;
}

/* Remove Transitions and Animations */
.emotions-slider-item__btn-icon::before,
.emotions-slider-item__btn-icon::after {
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	background: url("https://bato-web-agency.github.io/bato-shared/img/slider-1/icon-btn-arrow.svg") center center no-repeat;
	background-size: 100%;
}

.emotions-slider-item__btn-icon::after {
	position: absolute;
	top: 0;
	right: 0;
}

.emotions-slider__slide:not(.swiper-slide-active) .emotions-slider-item__header,
.emotions-slider__slide:not(.swiper-slide-active) .emotions-slider-item__footer {
	max-height: 50px;
}

@media (hover: hover) and (pointer: fine){
@media (hover: none) {
	.emotions-slider-item__btn:hover .emotions-slider-item__btn-icon::before,
	.emotions-slider-item__btn:hover .emotions-slider-item__btn-icon::after,
	.emotions-slider-item__btn:active .emotions-slider-item__btn-icon::before,
	.emotions-slider-item__btn:active .emotions-slider-item__btn-icon::after {
		animation: none;
	}
}
}